body {
	margin: 0;
	height: 100%;
}
#sectionA {
	background: blue;
}
#sectionB {
	background: red;
}
#sectionC {
	background: green;
}
.container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	height:800px;
}
.column {
	flex-basis: 33%;
}
