.calendar {
	top: 0em;
	left: 1em;
	padding-top: 5px;
	width: 80px;
	background: #ededef;
	font-size: 54px;
	text-align: center;
	color: #000;
	border-radius: 3px;
	position: absolute;
}

.calendar em {
	display: block;
	font-size: 15px;
	color: #fff;
	background: #04599a;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}

.calendar:before,
.calendar:after {
	content: "";
	float: left;
	width: 8px;
	height: 8px;
	background: #111;
	z-index: 1;
	border-radius: 20px;
	box-shadow: 0 1px 1px #fff;
	position: absolute;
}
.calendar:before {
	left: 11px;
	float: left;
}
.calendar:after {
	right: 11px;
	float: right;
}

.calendar em:before,
.calendar em:after {
	content: "";
	float: right;
	margin: 10px;
	width: 4px;
	height: 14px;
	background: lightgray;
	border-radius: 20px;
	z-index: 2;
}
.calendar em:after {
	left: 3px;
	position: absolute;
	top: -20px;
	height: 20px;
}
.calendar em::before {
	right: 3px;
	position: absolute;
	top: -20px;
	height: 20px;
}
